* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  padding-top: 20px;
  

  
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #d1eeda;
  
  
}

.card {
  color: #fff;
  width: 350px;
  border-radius: 10px;
  background: linear-gradient(145deg, #d1eeda, #d1eeda);
  /* box-shadow: 20px 20px 60px #a3ccdf, -20px -20px 60px #a3ccdf; */
  border: none;
  margin-left: 15%;
}

.neo-button {
  width: 40px;
  height: 40px;
  outline: 0 !important;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  border: none;
  margin-right: 10px;
  border-radius: 50%;
  background: linear-gradient(145deg, #d1eeda, #d1eeda);
  /* box-shadow: inset 20px 20px 60px #a3ccdf, inset -20px -20px 60px #a3ccdf; */
}

.num {
  color: #000 !important;
  
}

.line {
  color: #fff;
}

.neo-button:active {
  border-radius: 50%;
  background: #d1eeda;
  /* box-shadow: 28px 28px 57px #a3ccdf, -28px -28px 57px #a3ccdf; */
}

.profile_button {
  color: #fff;
  padding: 10px;
  margin-left:45%;
  
  border: none;
  outline: 0 !important;
  border-radius: 10px;
  background: #d1eeda;
  /* box-shadow: 28px 28px 57px #a3ccdf, -28px -28px 57px #a3ccdf; */
}



.table td, .table th {
  vertical-align: middle;
}

td .btn {
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 1px 6px 3px 6px;
  font-size: 13px;
}

th{text-align: center;}
td{text-align: center;}