<!-- <div class="col col-10 offset-md-1 container viewall">
    <div class="container">
        <div class="header">View Orders</div>
        <div  class="'search" >
            
            <input class="form-control" type ="text" name ="search" [(ngModel)]= "searchText" autocomplete="off" placeholder="&#61442; Start searching for Order">
        </div>
        <table class="tbl" style="width:100%">
            <tr>
                <th>Order Id</th>
              
              <th>Order Price</th>
              <th>Order Date</th>
              <th>Order Quantity</th>
              <th>Items</th>
              <th>Supplier Name</th>
            
              <th>Action</th>
            </tr>
            <tr *ngFor="let order of listorder">
                <td>{{order.orderId}}</td>
              
              <td>{{order.price}}</td>
              <td>{{order.orderDate}}</td>
              <td>{{order.quantity}}</td>
              <td><ng-container *ngFor="let item of order.items" > {{item.itemName}}</ng-container> </td>
              <td>{{supplier.supplierName}}</td>
              
              
            </tr>
          </table>    
       
    </div>
    
    </div> -->
    
    