.req {
    display: inline;
    color: #a94442;
  }
  
  .form-group {
    margin:0.5rem auto;
  }
  
  .table td, .table th {
    vertical-align: middle;
  }
  
  td .btn {
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 1px 6px 3px 6px;
    font-size: 13px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
  }
  
  .me-2 {
    margin-right: .5rem!important;
  }
  
  .main-body {
    padding: 15px;
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }
  
  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }
  
  .gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }
  
  .mb-3, .my-3 {
    margin-bottom: 1rem!important;
  }
  
  .bg-gray-300 {
    background-color: #e2e8f0;
  }
  
  .h-100 {
    height: 100%!important;
  }
  
  .shadow-none {
    box-shadow: none!important;
  }